/* https://isotope-theme.github.io/Isotope.github.io/colors/ */


.th
{
	valign: top;
}

.sm_nm_th_label
{
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}

.sm_label
{
	font-weight: bold;
}




.sm_nm_gew_th
{
	width:30px !important;
	height: 1.0rem !important;
	vertical-align: middle;
	text-align:center !important;
	border: 1px solid #ddd;
    border-radius: 5px;
	font-size: 85%;
	height: 0.75rem !important;

	margin:1px 0px 0px 1px!important;
	padding:0px 0px 0px 0px!important;
}

.sm_nm_gew_th_input{
	background-color: #ffffff;
	width:30px !important;
	height: 1.0rem !important;
	vertical-align: middle;
	text-align:center !important;
	border: 1px solid #ddd;
    border-radius: 5px;
	font-size: 85%;
	height: 0.75rem !important;

	margin:1px 0px 0px 1px!important;
	padding:0px 0px 0px 0px!important;
}



.schulmanager_note_input
{
	width:30px !important;
	height: 1.0rem !important;

	vertical-align: middle;

	text-align:center !important;
	border: 1px solid #ddd;
    border-radius: 5px;

	margin:1px 0px 0px 1px!important;
	padding:0px 0px 0px 0px!important;
}

#schulmanager-notenmanager-index_nm table th,
#schulmanager-notenmanager-klassenview_nm table th
{
	vertical-align: top;
	align: center;
}

#schulmanager-notenmanager-edit_nm table th
{
	vertical-align: top;
	background-color: #e53935;
}

#schulmanager-notenmanager-index_nm table tr td:nth-child(1),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(1)
{
	text-align:right;
}


/* GLNK */
#schulmanager-notenmanager-index_nm table tr td:nth-child(4),
#schulmanager-notenmanager-index_nm table tr td:nth-child(9),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(4),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(9),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(4),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(9)
{
	background-color: #fdd835;
}

.sm_nm_glnw
{
	font-weight: bold;
	background-color: #ffff6b;
	border-color: #c6a700;
}

/* klnw */
#schulmanager-notenmanager-index_nm table tr td:nth-child(5),
#schulmanager-notenmanager-index_nm table tr td:nth-child(10),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(5),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(10),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(5),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(10)
{
	background-color: #4caf50;
}
.sm_nm_klnw
{
	background-color: #80e27e;
	border-color: #087f23;
}

/* Schnitte */
#schulmanager-notenmanager-index_nm table tr td:nth-child(6),
#schulmanager-notenmanager-index_nm table tr td:nth-child(11),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(6),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(11),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(6),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(11)
{
	background-color: #b0bec5;
}
.sm_nm_schnitt
{
	background-color: #6ec6ff;
	border-color: #808e95;
}
.nm_avg_manuell
{
	color:blue;
	text-decoration: underline;
}

/* Note */
#schulmanager-notenmanager-edit_nm table tr td:nth-child(7),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(12),
#schulmanager-notenmanager-index_nm table tr td:nth-child(7),
#schulmanager-notenmanager-index_nm table tr td:nth-child(12),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(7),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(12)
{
	/*background-color: #f44336;*/
	background-color: #42a5f5;
}
.sm_nm_znote_schnitt
{
	background-color: #b0bec5;
	border-color: #0077c2;
}
.sm_nm_znote
{
	/*background-color: #ff9761;*/
	background-color: #80d6ff;
	border-color: #0077c2;
}
.sm_nm_znote_note
{
	font-weight: bold;
}

/* Mitarbeit Verhalten */
/* Note */
#schulmanager-notenmanager-edit_nm table tr td:nth-child(8),
#schulmanager-notenmanager-edit_nm table tr td:nth-child(13),
#schulmanager-notenmanager-index_nm table tr td:nth-child(8),
#schulmanager-notenmanager-index_nm table tr td:nth-child(13),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(8),
#schulmanager-notenmanager-klassenview_nm table tr td:nth-child(13)
{
	background-color: #bdbdbd;
}
.sm_nm_mv
{
	/*background-color: #efefef;*/
	background-color: #bdbdbd;
	border-color: #8d8d8d;
}

/* ausgetretene Schüler */
.nm_st_left
{
	text-decoration: line-through;
	color:#808080;
}

/* Hinweis Noten Bearbeiten */
.sm_hint_red, .sm_hint_red label
{
	font-weight: bold;
	color: #ff0000 !important;
}

/* bearbeitete Noten im Edit-Modus kennzeichnen */
.schulmanager_note_changed
{
	border-bottom-color: #00f;
	border-bottom-width: 2px;
    transition: all 0.5s linear;
}



/* Calendar */
.sm_cal_title
{
	color: #696969;
	font-size: 110%;
	font-weight: bold;
}

.sm_cal_mo_it
{
	border-style: solid;
	font-size: 75%;
	font-weight: bold;

	border: 1px solid #ddd;
	border-radius: 5px;
	width: 90%;
	height: 100% !important;
	text-align: center !important;
	padding: 2px;
}
.sm_cal_editable
{
	border: 1px solid #F44336;
}
/*.sm_cal_readonly
{
	background-color: #dddddd !important;
}*/

.sm_cal_block
{
	/*background-color: #FF8961 !important;*/
	background-color: #696969 !important;
}
.sm_cal_glnw
{
	background-color: #ffff6b !important;/* #fdd835 #80d6ff !important;*/
}
.sm_cal_klnw
{
	background-color: #80e27e !important;
}
.sm_cal_user{
	text-decoration: underline;
}



.sm_cal_mo_it :hover
{
	background-color: #eedddd;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.sm_cal_saso, .sm_cal_saso div div span
{
	/*background-color: #FF8961 !important;*/
	color: #FFF !important;
	background-color: #696969 !important;
}

.sm_cal_btn
{
	width: 8px;
	height: auto;
}
/* popups */
.addnewevent{
	position: absolute;
	display: none;
	border: 2px solid black;
	background-color: #ffffff;
	padding: 4px;
	top: 55px;
	left: 102px;
	z-index: 99;
}
.editgew{
	position: absolute;
	display: none;
	border: 2px solid black;
	background-color: #ffffff;
	padding: 4px;
	top: 55px;
	left: 102px;
	z-index: 1;
	box-shadow: 10px 10px 5px grey;
  /*
    display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
 */

}
/* Modal Content/Box */
/*.editgew-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}*/

/*#schulmanager-calendar-editevent{
	height: 400px;
}*/

/* Letzte Spalte in Schulaufgabenkalender */
#schulmanager-calendar-index_nm  .optcol,
#schulmanager-calendar-edit_nm  .optcol{
	/*display:hide !important;*/
	width:0px !important;
}

#schulmanager-calendar-help{
	margin: 10px;
}

#schulmanager-calendar-help div table tr td{
	border-collapse: separate;
	margin: 4px;
	padding: 4px;
	border: 3px;
}

#sm_cal_hidden{
	width:0px;
	display:none;
}

#schulmanager-calendar-index_nm td button{
	min-width:90%;/* !important;*/
	height: 1.0rem !important;
	/*border: none;*/
	background:none;
	outline: none;
}

#schulmanager-calendar-index_nm innerContainer{
	padding: 1px !important;
}

div.gridCont_2_div_col_1.innerContainer{
	padding: 1px !important;
}
/* TEST */
/*.egwGridView_grid
{
	border-left: 12px !important;
	border-spacing: 0 4px !important;
}*/